body {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}
.result {
  display: block;
  width: 95%; 
  border: 2px solid #000000;
  margin: 10px auto 0;
  overflow: hidden;
  padding: 3px;
}
h2 {
  text-align: center;
}
result img {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #000000;
}
result .content {
  width: 72%;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1%;
}
.price {
  display: inline-block;
  width: 100%;
}
.street:after, .town:after {
  content: ", "; 
}