<div class="details-wrapper">
  <div class="details-head">
    <a href="javascript:history.back()" class="backbutton">&lArr;</a>
    <h1>Property Details</h1>
    <a href="#" class="add-property">+</a>
  </div>
  <span class="det-price"><em class="cost">{{detale.curr.price_formatted}}</em></span>
  <span class="det-title">{{detale.curr.title}}</span>
  <img src="{{detale.curr.thumb_url}}" class="det-img" />
  <div class="rooms">
    <span class="bed"><em class="number">{{detale.curr.bedroom_number}} bed, </em></span>
    <span class="bath"><em class="number">{{detale.curr.bathroom_number || 0}} bethrooms</em></span>
  </div>
  <p class="det-summary">{{detale.curr.summary}}</p>
</div>